teiHeader author {
  font-size: 24pt;
  display: block;
  text-align: center;
}




p {
  color: black;
  background-color: white;
  font-family: Georgia, "Times New Roman", Times, serif;
  /*font-size: medium;*/
  /*  margin-top: 100px;*/
  padding-bottom: 8pt;
  margin-right: 2cm;
  margin-left: 2cm;
  display: table;
}
